USE [master]
GO
/****** Object:  Database [bdhamburgueria]    Script Date: 02/10/2024 07:34:22 ******/
CREATE DATABASE [bdhamburgueria]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'bdhamburgueria', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SENAI\MSSQL\DATA\bdhamburgueria.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'bdhamburgueria_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SENAI\MSSQL\DATA\bdhamburgueria_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [bdhamburgueria].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [bdhamburgueria]
GO
/****** Object:  Table [dbo].[pedido]    Script Date: 02/10/2024 07:34:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pedido](
	[idpedido] [int] IDENTITY(1,1) NOT NULL,
	[idpessoa] [int] NOT NULL,
	[datapedido] [date] NOT NULL,
	[status] [varchar](1) NOT NULL,
 CONSTRAINT [PK_pedido_1] PRIMARY KEY CLUSTERED 
(
	[idpedido] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pedidoproduto]    Script Date: 02/10/2024 07:34:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pedidoproduto](
	[idpedido] [int] NOT NULL,
	[idproduto] [int] NOT NULL,
	[quantidade] [int] NOT NULL,
	[valorunitario] [decimal](10, 2) NOT NULL,
 CONSTRAINT [PK_pedidoproduto] PRIMARY KEY CLUSTERED 
(
	[idpedido] ASC,
	[idproduto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pessoa]    Script Date: 02/10/2024 07:34:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pessoa](
	[idpessoa] [int] IDENTITY(1,1) NOT NULL,
	[nome] [varchar](50) NOT NULL,
	[idade] [int] NOT NULL,
	[renda] [decimal](10, 2) NULL,
 CONSTRAINT [PK_cliente] PRIMARY KEY CLUSTERED 
(
	[idpessoa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[produto]    Script Date: 02/10/2024 07:34:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[produto](
	[idproduto] [int] IDENTITY(1,1) NOT NULL,
	[descricao] [varchar](20) NOT NULL,
	[valorunitario] [decimal](10, 2) NULL,
 CONSTRAINT [PK_produto] PRIMARY KEY CLUSTERED 
(
	[idproduto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[pedido]  WITH CHECK ADD  CONSTRAINT [FK_pedido_cliente] FOREIGN KEY([idpessoa])
REFERENCES [dbo].[pessoa] ([idpessoa])
GO
ALTER TABLE [dbo].[pedido] CHECK CONSTRAINT [FK_pedido_cliente]
GO
ALTER TABLE [dbo].[pedidoproduto]  WITH CHECK ADD  CONSTRAINT [FK_pedidoproduto_pedido] FOREIGN KEY([idpedido])
REFERENCES [dbo].[pedido] ([idpedido])
GO
ALTER TABLE [dbo].[pedidoproduto] CHECK CONSTRAINT [FK_pedidoproduto_pedido]
GO
ALTER TABLE [dbo].[pedidoproduto]  WITH CHECK ADD  CONSTRAINT [FK_pedidoproduto_produto] FOREIGN KEY([idproduto])
REFERENCES [dbo].[produto] ([idproduto])
GO
ALTER TABLE [dbo].[pedidoproduto] CHECK CONSTRAINT [FK_pedidoproduto_produto]
GO
USE [master]
GO
